
@model EliteRecruit.ViewModels.StudentViewModel

<div id="drag-container">
    <div id="spin-container">
        @foreach (var student in Model.Top5Students)
        {
            <a href="@Url.Action("Details", "Students", new { id = student.Id })">
                <img src="@student.ImagePath" alt="Student Image" />
            </a>
        }
    </div>
    <div id="ground"></div>
</div>


@section Scripts{

}

