html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav {
    background-color: #fff;
}

.gold{
    color: darkgoldenrod;
}

.nav-link2 {
    position: relative !important;
    color: navy !important;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    border: none;
}

.nav-link2::before {
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: navy !important;
    visibility: hidden !important;
    transform: scaleX(0) !important;
    transition: all 0.3s ease-in-out !important;
}

.nav-link2:hover::before {
    visibility: visible !important;
    transform: scaleX(0.7) !important;
}


.custom {
    color: navy;
    background-color: transparent !important;
    border-color: none !important;
}


.custom:hover {
    background-color: navy !important;
    color: white !important;
}


.btn.custom:focus,
.btn.custom:active {
    box-shadow: none;
}



.text-navy {
    font-size: 15px;
    color: navy;
    padding: 0 1em;
}

.fas {
    font-size: 20px;
    padding: 0.5em 1em;
}


.align {
    padding: 0.5em 1em;
}

.drop{
    width: 100px;
}

#backgroundimage {
    background-image: url('/pics/w5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 4em;
    justify-content: center; 
    align-items: center; 
}

.navbar {
    background-size: cover;
    margin-bottom: 20px;
    
    background: linear-gradient(to bottom, #f7f7f7, #f3f3f3, #fff);
}

.back {
    
}

.logo {
    width: 7%;
    height: auto;
    display: block;
    position: absolute;
    bottom: 4em;
    left: 8em;
}


.font {
    font-family: 'Courier New', sans-serif;
}

.font2 {
    font-family: 'Cascadia Mono', sans-serif;
    font-size: 14px;
}


.text-center {
    position: relative;
    top: 5em;
}

.intro-buttons {
    margin: 2rem 0;
    align-items: center;
    justify-content: space-evenly;
}


.nologinbtn {
    color: navy;
    padding: 0.5em 1.5em;
    background-color: transparent !important;
    border-color: none !important;
}

.nologinbtn:hover {
    background-color: navy !important;
    color: white !important;
}