@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}


<body class="font">
    <div id="backgroundimage">
        <img class="logo" src="pics/favicon.jpg" alt="Background Image">
        <div class=" text-center mb-5">
            <h1 class="display-4">EliteRecruit</h1>
            <h8>Connecting Talent to Opportunity!</h8>
            @if (!SignInManager.IsSignedIn(User))
            {
                <partial name="_LoginPartial" />
            }
        </div>

    </div>
</body>



