@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model EliteRecruit.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no" />
</head>

<body class="font home">
    <section id="home">
        <!--<img class="logo" src="pics/favicon.jpg" alt="Background Image"> -->
        <div class=" text-center mb-5">
            <h1 class="display-4 size" style="color:navy;">EliteRecruit</h1>
            <h8 class="lighter"style="color:navy;">Connecting Talent to Opportunity!</h8>
            @if (!SignInManager.IsSignedIn(User))
            {
                <div class="intro-buttons">
                    <a class="btn nologinbtn" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    <a class="btn nologinbtn2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            }
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="intro-buttons">
                    <a class="btn nologinbtn" asp-controller="Students" asp-action="Index">Students</a>
                    <a class="btn nologinbtn2" asp-controller="Home" asp-action="carousel">Top Students</a>
                </div>
            }

        </div>
    </section>
</body>



