@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


<body class="font">
    <div id="backgroundimage">
        <img class="logo" src="pics/favicon.jpg" alt="Background Image">
        <div class=" text-center mb-5">
            <h1 class="display-4">EliteRecruit</h1>
            <h8>Connecting Talent to Opportunity!</h8>
            @if (!SignInManager.IsSignedIn(User))
            {

                <div class="intro-buttons">
                        <a class="btn nologinbtn" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        <a class="btn nologinbtn" text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            }
        </div>

    </div>
</body>





