html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px 0px;
}

.nav {
    background-color: #fff;
}

.gold{
    color: darkgoldenrod;
}

.nav-link2 {
    position: relative !important;
    color: navy !important;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    border: none;
}

.nav-link2::before {
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: navy !important;
    visibility: hidden !important;
    transform: scaleX(0) !important;
    transition: all 0.3s ease-in-out !important;
}

.nav-link2:hover::before {
    visibility: visible !important;
    transform: scaleX(0.7) !important;
}


.nav-link3 {
    position: relative !important;
    color: white !important;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    border: none;
}

.nav-link3::before {
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: white !important;
    visibility: hidden !important;
    transform: scaleX(0) !important;
    transition: all 0.3s ease-in-out !important;
}

.nav-link3:hover::before {
    visibility: visible !important;
    transform: scaleX(0.7) !important;
}

.table-navy{
    background-color: navy !important;
    color: white;
}

#students-table tbody tr:hover {
    background-color: transparent; 
}


.custom {
    color: navy;
    background-color: transparent !important;
    border-color: none !important;
}


.custom:hover {
    background-color: navy !important;
    color: white !important;
}

.custom2 {
    color: white !important;
    background-color: navy !important;
    border-color: none !important;
}

.btn.custom:focus,
.btn.custom:active {
    box-shadow: none;
}



.text-navy {
    font-size: 15px;
    color: navy;
    padding: 0 1em;
}

.fas {
    font-size: 20px;
    padding: 0.5em 1em;
}


.align {
    padding: 0.5em 1em;
}

.drop{
    width: 100px;
}


.navbar {
    background-size: cover;
}

.logo {
    width: 7%;
    height: auto;
    display: block;
    position: absolute;
    bottom: 4em;
    left: 8em;
}


.font {
    font-family: Tahoma
}

.font2 {
    font-family: 'Cascadia Mono', sans-serif;
    font-size: 14px;
}


.text-center {
    position: relative;
    top: 3em;
}

.intro-buttons {
    margin: 2rem 0;
    align-items: center;
    justify-content: space-evenly;
}


.nologinbtn {
    color: navy;
    padding: 0.5em 1.5em;
    background-color: transparent !important;
    border-color: none !important;
}

.nologinbtn:hover {
    background-color: navy !important;
    color: white !important;
}

.nologinbtn2 {
    color: white !important;
    background-color: navy !important;
    padding: 0.5em 1.5em;
    border-color: none !important;
}

/*
.nologinbtn2:hover {  
    background-color: transparent !important;
    color: navy !important;
}
*/

#students-cards {
    display: none;
}

#students-table {
    display: none;
}

.lighter {
    font-weight: lighter;
    opacity: 0.7;
    font-size:20px;
}

.size {
    font-size: 5em;
}
.home {
    background-image: url('/pics/b.png');
    height:100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}


.imageRing {
    background-image: url('/pics/w5.jpg'); /* Set background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Occupy full width */
    height: 100vh; /* Set height to fill viewport */
    z-index: 1;
    position: absolute; /* Change position to absolute */
    top: 100vh; /* Position from the top of the viewport */
    left: 0; /* Position from the left of the viewport */
}

.imageRing2 {
    background-image: url('/pics/w5.jpg'); /* Set background image */
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}


    .carousel html,
    .carousel body {
        height: 100%;
    touch-action: none;
}

    .carousel body {
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #111;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .carousel #drag-container,
    .carousel #spin-container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin:auto;
        top: 70px; 
   
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

        .carousel #drag-container img {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            position: absolute;

            width: 200px;
            height: 200px;
            line-height: 200px;
            font-size: 50px;
            text-align: center;
            -webkit-box-shadow: 0 0 8px #fff;
            box-shadow: 0 0 8px #fff;
            -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
        }

    .carousel #drag-container a {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
        text-align: center;
    }

    .carousel #drag-container img:hover,
    .carousel #drag-container video:hover {
        -webkit-box-shadow: 0 0 15px #fffd;
        box-shadow: 0 0 15px #fffd;
        -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
    }

    .carousel #drag-container p {
        font-family: Serif;
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotateX(90deg);
        transform: translate(-50%, -50%) rotateX(90deg);
        color: #fff;
    }

    .carousel #ground {
        width: 900px;
        height: 900px;
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotateX(90deg);
        transform: translate(-50%, -50%) rotateX(90deg);
        background: -webkit-radial-gradient( center center, farthest-side, #9993, transparent );
    }

/* Keyframes */

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }

    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }

    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}


