@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-10">EliteRecruit</h1>
</div>

<div class="text-left">
    <h2 class="display-7" style="font-size :27px;">Product Vision Statement</h2>
    <p>
        For recruiters who need to find potential employees that fit the job 
        requirements and students looking for an internships or jobs to boost
        their resume or find a career. EliteRecruit is a recruitment site 
        that gives students an outlet to make their accomplishments and 
        desires known to recruiters and gives recruiters the ability to find 
        the perfect fit for open positions. Unlike Handshake, EliteRecruit 
        will give students the ability to show off their accomplishments and 
        projects and encourages recruiters to reach out to students about 
        relevant projects and work experience. The goal is for recruiters to 
        make a connection with students so students can show off more than 
        basic descriptions and so recruiters can learn more about the student 
        before they make a final decision.
    </p>
    <h2 class="display-7" style="font-size :27px;">Product Value Proposition</h2>
    <p>
        Let us help you find your next great hire. Recruiters waste a lot of 
        time looking for the perfect fit to the job description. We aim to 
        cut down that time by allowing recruiters to filter for their desired 
        attributes so they can focus on learning more in-depth details about 
        great potential hires instead of just sending pre-generated messages 
        to everyone that meets at least one requirement. Now that you have 
        great candidates and you know some specifics about each of them you 
        have all the information you need to make the right decision on who 
        to hire.
    </p>
</div>
