@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-10">Team 18 Project</h1>
    <p> <a href="https://gitlab.com/sdmines/csc340/2024-spring/project/team-18/-/tree/master">Link to Gitlab repository</a>.</p>
</div>
